@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cookie&family=Urbanist:wght@300&display=swap');
.NoneExperienceStyle{
    height: 100%;
    width: 100%;
    background-color: rgb(243, 217, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.NoneExperienceHeading{
    font-size: 10vmin;
    left:50px;
    top:10px;
    font-family: 'Cookie', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
}