.HomeStyle{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
}
.Image{
    height: 150vh;
    position: fixed;
    top:0;
    left: -60vh;
    padding-bottom: 20px;
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .Image {
      animation: Image-spin infinite 20s linear;
    }
}

@keyframes Image-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}