@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Urbanist:wght@300&display=swap');

.HomeStyle{
  height: 100vh;
  width: 100vw;
  background-color: rgb(243, 217, 238);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbar{
  position: fixed;
  top:10px;
  right: 10px;
  font-family: 'Urbanist', sans-serif;
  font-size: 2.5vmin;
  font-weight: bold;
}
.Text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 25%;
}
.HomeSubText{
  font-size: 3vmin;
  font-family: 'Urbanist', sans-serif;
  margin:3px;
}
.HomeParaText{
  font-size: 2.5vmin;
  font-family: 'Urbanist', sans-serif;
  margin:3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.HomeImage{
  height: 125vmin;
  position: absolute;
  top:-15%;
  left: -30%;
  pointer-events: none;
}
.HomeResumeLink{
  text-decoration: none;
  font-family: 'Urbanist', sans-serif;
  height: 2vmin;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
    .HomeImage {
      animation: Image-spin infinite 20s linear;
    }
}

@keyframes Image-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}